[2013-11-21 16:05] totherik opened #5 "Race condition exposed under heavy load."
When rending for many concurrent requests, patch/unpatch interleaving could cause inconsistent state causing rendering failure and app crashiness.

[2013-11-21 16:24] #5 closed, assigned to totherik

[2013-11-26 19:29] totherik opened #9 "Cache locale resolution"
With caching disabled, the following formats are both supported:
[code]
[code]

however with cache enabled only the latter successfully resolves.

[2013-11-29 22:01] mderrick opened #11 "Common resource keys"
I know the docs says this:

**"If you have content you want to share across pages, then you should factor out use of that content into a separate partial and use that partial to achieve content sharing."**

But I don't believe this makes any sense. As an example, I simply would like the word 'login' to use a `common.login` key. Surely it would be breaking the principles of DRY to replicate this ke

[2013-12-08 08:50] nmalcolm opened #13 "bundle.get() variables"
Hi,

Can someone show me how to use bundle.get() with variables? I tried the following to no avail, and I was unable to find any examples which use them.

`bundle.get('login.success_message', { username: 'Nathan' })`

Does such functionality exist? The above prints "You are now logged in as {username}."

Thanks.

[2013-12-08 18:09] #13 closed, assigned to nobody

[2013-12-12 18:47] lmarkus opened #16 "System Path separator is invalid as a regexp element under Windows"
From https://github.com/paypal/kraken-js/issues/65

This is possibly an error with the  dustjs-i18n.js task in makara. It would seem this line would make an invalid RexExp if the path separator is '\'

[code]

[2013-12-16 15:20] #16 closed, assigned to nobody

[2013-12-26 16:45] xjamundx opened #18 "More Helpful Error Handling"
This line basically says `if (!filename) console.log("Couldn't find file", filename)` which inevitably says "Couldn't find file _undefined_", which isn't super helpful. I'm working through an issue with this. Once I figure out _why_ it's not defined I'll try to submit a pull request that more accurately describes the circumstances.

https://github.com/paypal/makara/blob/master/lib/provider/bundle.

[2013-12-30 18:10] tsullivan opened #21 "Dynamic content keys"
In Dust, we can do this to make a dynamic partial reference:

[code]

But sadly, we can't do this:

[code]

It would be more native-like behavior to allow content keys to be dynamic and allow us a way of avoiding logical structures in the Dust code.

[2014-01-05 05:35] lmarkus opened #22 "Build Task fails on windows due to OS separator"
Looks like Grunt expands patterns like `**/*.dust`  and `**\\*.dust`with no regard to the host OS path separator. It's always a `/`

Under Windows, this causes issues with the following code:
- https://github.com/paypal/makara/blob/master/tasks/dustjs-i18n.js#L58 Does not properly replace the tail of the contentPath, and is not able to expand it later. Because of this, no content bundles are loade

[2014-01-28 03:31] mindpivot opened #24 "Unable to use latest dustjs version due to package.json conflict in makara"
When deploying a build to heroku, the compile/deploy step fails due to a version conflict between my package.json containing the latest (2.3.x) of dustjs-linkedin and the specified 2.0.0 version in Makara. There is a similar problem with the declared version of dustjs-linkedin in the Adaro package.json.

I'd suggest setting them to use 2.x.x instead of explicit versions and only make it more restr

[2014-01-29 22:11] #18 closed, assigned to nobody

[2014-01-30 22:27] #22 closed, assigned to nobody

[2014-02-13 20:10] kurdin opened #30 "Single key locale fallback/overwrite"
Looks like currently it is not possible to fallback to default locale for single keys, it would be nice to have this important feature.

Let say we have 2 locales with fallback to US_en:
US/en/layout/master.properties and GB/en/layout/master.properties

in US/en/layout/master.properties:

[code]

and for GB layout we want to overwrite only few keys , so in file GB/en/layout/master.properties:

[co

[2014-03-04 02:58] trideepgogoi opened #31 "Profiling Kraken shows significant latency in file system access"
Doing a profiler on Node.js shows there is significant latency in accessing /node_modules/makara/node_modules/graceful-fs/polyfills.js:210:15

![screen shot 2014-03-03 at 6 57 53 pm](https://f.cloud.github.com/assets/259817/2317266/d243dc64-a348-11e3-8f23-0e64f5c7d945.png)

[2014-03-05 15:35] #31 closed, assigned to nobody

[2014-03-19 19:25] timph opened #33 "Example for the use of mode="paired""
I can see the mention of mode="paired", but it's still not very clear on the use of it in dust template context. Can you add an example right under that section in README?

[2014-03-21 22:21] #24 closed, assigned to nobody

[2014-03-24 19:10] #33 closed, assigned to nobody

[2014-04-02 19:50] #21 closed, assigned to nobody

[2014-04-08 04:44] mikesparr opened #35 "Example with two list values with same index"
I see in #33 using the paired mode you can pass the JSON into the custom helper.  I am curious how best to accomplish something without a select list, but dynamically displaying a list of anchor tags with tooltip.

Desired:

[code]

Properties:

[code]

Ideally the template will iterate through the list of field names and display them as anchors but the tooltip will also be localized.

I tried the

[2014-04-08 05:00] mikesparr opened #36 "Dynamically passing content key from model to template"
I read in #21 that you cannot pass in content key dynamically to a template.  I am curious whether my issue in #35 could be solved by having a list of keys in the model object and the template could evaluate those keys and inject the proper content from the current resource bundle.

**Example Model:**

[code]

**Example property bundle:**

[code]

**On the template perhaps:**

[code]

I appreciate

[2014-04-11 17:00] HlodowigRaginwald opened #37 "Map in a list"
it is possible to put a map in a list ?

in my properties file :
[code]

In this case the bundle of index return this :
[code]

But would like something like that :
[code]

It is possible ?

I use makara with kraken-js.

Thanks !

[2014-06-06 20:50] scobo opened #39 "Question: How to effectively manage HTML, DRY, and whitespace with Makara?"
I’ve encountered a common localization issue that I’ve been unable to solve with Makara and Dust.

Issues I’m trying to address:
* How do I keep HTML in the template and out of the properties file (see below: the links to terms of sale and privacy policy)?
* How do I reference properties in other properties (see below: reuse the “Pay Now” text)?
* How do I manage whitespace (CJK versus western lan

[2014-06-18 01:01] framp opened #41 "Makara won't work with dust templates with a different ext"
As the title says.

The culprit is in `/lib/translator/index.js` at line 41.

    template = path.join(templateRoot || this.templateRoot, name + '.dust');

[2014-07-03 21:54] aredridel opened #43 "strawman for a new bundle format"
JSON syntax (which isn't so relevant, since anything that has strings and nested arrays and objects can support the same semantics) :

`login.json`

[code]

`form.json`

[code]

Includes could be used as a fallback mechanism, too, explicitly forming a relationship between resource files, rather than any implicit or higher level relationship between language files.

CSON:

[code]

YAML:

[code]

Pr

[2014-08-08 03:02] nitinkcv opened #46 "makara doesn't general edit tags in non-DEV mode"
In dev mode, makara sees the i18n config specifying enableMetadata and functions correctly. However, when the grunt build scripts run and pre-compile the templates, they do not take the config into consideration so all dust templates lack the metadata desired

[2014-08-15 21:37] #46 closed, assigned to nobody

[2014-08-15 21:38] #43 closed, assigned to nobody

[2014-08-19 18:24] snallavadla opened #47 "How to read content bundle key values in the controllers of krakenjs?"
During ajax call, the messages are set in nodejs, so we want to read resource bundle on nodejs?

[2014-08-19 18:40] #47 closed, assigned to nobody

[2014-08-28 10:00] nomanurrehman opened #49 "Language selection"
What would be a good approach to give the user an option to set their language using this module ?

I thought about storing the language information in a cookie and then inject it into the response on each request using a middleware but is there a better approach ?

[2014-08-28 13:53] #49 closed, assigned to nobody

[2014-09-06 19:52] nomanurrehman opened #50 "Sharing Content"
From the docs:

"If you have content you want to share across pages, then you should factor out use of that content into a separate partial and use that partial to achieve content sharing."

Can you please explain this a bit ?

For example, if I have messages and want them to be available to every template, how do I do that ?

[2014-09-06 21:37] #50 closed, assigned to nobody

[2014-09-10 23:15] hoaboat opened #52 "The forward slashes of our dynamic partial path are being converted to HTML entities"
Our application is using a layout template. If we supply a dynamic partial that has a forward slash in the path, somewhere during the dust rendering the forward slash is being converted to an HTML entity, so we get an error like the following:

Express
500 Error: ENOENT, open '/Users/hdoan/Sites/Source/OurApp/public/templates/someDirectory&amp;#x2F;anotherDirectory&amp;#x2F;myPage.dust'

[2014-09-12 20:14] aredridel opened #53 "Breaking: Remove support for mode=json"
I think we can eliminate the feature entirely: It's used seldom and when it's used, it's mostly abused. Quoting takes more contextual awareness than a dust helper can give.

[2014-09-13 02:20] sathyamvellal opened #54 "Weave edit tags optionally"
The `enableMetadata: true` option allows to weave edit tags around content in a page. Is there some way by which I can retain content in properties files and still have makara not weave edit tags for few elements?

[2014-09-15 18:40] #52 closed, assigned to nobody

[2014-09-16 03:50] #54 closed, assigned to nobody

[2014-10-06 08:56] fsticza opened #55 "multi"

[2014-10-06 08:57] #55 closed, assigned to nobody

[2014-11-26 18:22] grawk opened #57 "Plan for makara deprecation"
Would be good to have a scheduled rollout of makara deprecation possibly including:
* documentation for making the switch, with a reference to doc from makara README
* deprecation warning from makara
* timeline/milestones

[2014-12-08 20:04] #35 closed, assigned to nobody

[2014-12-08 20:05] #36 closed, assigned to nobody

[2014-12-08 20:29] #30 closed, assigned to grawk

[2014-12-08 20:31] #11 closed, assigned to grawk

[2015-04-14 01:11] brakon commented on #36
What will be the new design without build-time localization?

[2015-04-14 01:20] aredridel commented on #36
Templates will include `@pre` (deprecated), `@message` (backward-compatible) or `@formatMessage` (via formatjs.io project) helpers, and you can plug in a language bundle resolver that will supply bundles of strings. At the moment, that means loading a language-specific `<script>` tag with the actual strings, in addition to the javascript bundle of your app.

[2015-05-11 17:51] aredridel commented on #41
I think this is WONTFIX for now, since makara is effectively deprecated. Move to engine-munger, and I'll work to fix it there for the 1.0 release.

[2015-05-11 17:51] #41 closed

[2015-06-07 14:02] tkambler commented on #57
Deprecation? What deprecation? krakenjs.com references Makara. Could someone please provide a clear explanation of how new projects based on Kraken should be implementing localization?

[2015-06-07 14:06] aredridel commented on #57
kraken 1.0 projects use localizr, engine-munger, adaro, bundalo and grunt-localizr. They were extracted from makara for the 1.0 release. Use those, with dust < 2.7

I'm working on new components -- a simplified engine-munger, reworked adaro to work with dust 2.7 -- they will be bundled into a kraken-friendly configuration as a new release of makara

[2015-07-08 14:17] shaoner commented on #50
Hi,

@aredridel, just wondering if the content-sharing feature is still considered for 2.0?
I've been using partials to achieve that until now, but having a lot of partials (requiring two files) mixed up with `@pre` tags is a bit complicated (to read & maintain).

[2015-07-08 14:19] aredridel commented on #50
Yes indeed!

There's a new helper -- `dust-usecontent-helper`, which provides a `{@useContent bundle="filename"} ...  {/@useContent}` block you can use, which will let you select content out of a specific bundle.

[2015-07-08 14:22] shaoner commented on #50
Oh, awesome!
Thanks!

[2015-07-08 14:23] aredridel commented on #50
Sure thing! You probably want to use it via `dust-makara-helpers` -- the raw setup for `dust-usecontent-helper` means you have to supply a content loading function.

[2015-07-08 15:48] shaoner commented on #50
Well yes thank you!
I suppose it replaces `engine-munger/node_modules/localizr` from `kraken@1.x` to deal with `@pre` tags on the fly, so I'll wait for `kraken@2.x` to be ready since `dust-makara-helpers` depends on another dust major version.

[2015-07-08 15:52] aredridel commented on #50
It's actually independent of kraken-js 2.0.0. makara works with it, but kraken 1.0 doesn't care what templating you use.

[2015-07-08 16:13] aredridel commented on #50
(and yes, everything new depends on dust ^2.7.1. The interfaces changed.)

[2015-07-08 16:30] shaoner commented on #50
Ok cool, I was not aware I could replace `engine-munger` by `makara`.
I was just refering the previous version of `engine-munger` depending on `dust` <= 2.0.0

[2015-07-08 17:24] aredridel commented on #50
Yep! Still writing docs on how to migrate -- it's a big re-arrangement, since the way it was factored before was not quite the right divisions.

[2015-07-08 19:11] shaoner commented on #50
I've just migrated, and it works pretty well!
Apart from the configuration aspect, it seems that a `file.properties` is now required for any template file (which differs from localizr).

[2015-07-08 19:36] aredridel commented on #50
Awesome! Glad to hear that it's working for you.

There were edge cases prior where those files were required, but yes, you could generally work without them -- I made the decision to require them, but I'd be open to relaxing that in future. Open an issue if the below doesn't handle your use case.

You can avoid this by disabling `autoloadTemplateContent` in `dust-makara-helpers`. I've not documen

[2015-07-09 08:37] shaoner commented on #50
Yep, I'm very happy with the `useContent` helper so far! I really missed it (especially for error messages in my case (it's pretty convenient to group them in a single bundle)).
About the required `file.properties`, it can just be a bit confusing because usually you think about the corresponding properties file only when you need to. Now, when adding a partial that doesn't need any translation you

[2015-07-13 17:48] #57 closed

[2015-07-13 17:48] aredridel commented on #57
Makara 2.0.0 has been released!

[2015-07-13 17:49] #39 closed

[2015-07-13 17:50] aredridel opened #67 "Add support for formatPath in Bundalo."

[2015-07-14 12:02] aredridel commented on #9
This is obsolete by Makara 2.0

[2015-07-14 12:02] #9 closed

[2015-07-14 12:04] aredridel commented on #37
Feel free to reopen if you can show some context where this is useful in the context of localization, not just generic data structures.

[2015-07-14 12:04] #37 closed

[2015-07-17 22:56] jknight12882 opened #68 "dust helpers documentation is wrong"
On the blog, you have this

[code]

It actually needs to be this

[code]

[2015-07-17 23:00] grawk commented on #68
True, that is the syntax I'm using locally. @jknight12882 do you want to PR that change into the blog?
https://github.com/krakenjs/krakenjs.github.io/blob/master/_posts/2015-07-09-upgrading-makara.md

[2015-07-29 15:37] nerdgore opened #69 "Express app stops responding if there are too many partial includes"
It seems that makara does something strange that causes an express app to become unresponsive if multiple partial includes are used.

A sample app to illustrate this behaviour can be found in my github.
[makara-bug](https://github.com/nerdgore/makara-bug)

As far as I can tell this doesn't relate to adaro since the partials get resolved correctly. However the render function never finishes and the

[2015-07-29 15:51] grawk commented on #69
Thanks for the illustration app! That's going to help a lot in debugging and fixing this issue :)

[2015-07-29 18:27] brakon commented on #69
I'm having an issue when under heavy load a kraken app will just hang on any further requests, it doesn't even get to call the adaro engine js read mechanism, wonder if its related or how I can tell if its a similar problem.

[2015-07-29 18:34] grawk commented on #69
@brakon Can you please try and trace it as far as you can into the code (given your time constraints etc) and file an issue on the appropriate repository? If you aren't able to assess the exact repo, please file an issue on the krakenjs repository with as much info as you can gather. Then we can help you drill down and find the problem.

[2015-08-12 12:58] Ampakinetic opened #72 "specialization seems to be broken"
Hi, I've followed http://krakenjs.com/2015/07/09/upgrading-makara.html and upgraded my v1.0 app running on Windows.  Now the specialization rules don't seem to be processed any more, I've verified the values are still being set, but the correct specialized partials no longer show, only the default one does.  Any ideas?  Let me know if you need any snippets.  Thanks.

[2015-08-12 13:05] aredridel commented on #72
I'd love to know what your config looks like -- things moved around a bit.

[2015-08-12 13:10] Ampakinetic commented on #72
Thanks, here is my current config.json:

[code]

And the specialization.json file:

[code]

I am passing the config like this:

[code]

And before the upgrade shopsite/noprods.dust was getting rendered, now only ./noprods.dust seems to come up.

[2015-08-12 13:14] aredridel commented on #72
Hrm. At a glance that looks right -- you don't need the indirection of using both `import:` and `config:` handlers, you could just import it right into the config, but I see no error there.

Can you run your app with the `NODE_DEBUG=engine-munger` environment variable? That should print out debug tracing and show where it went wrong.

[2015-08-12 13:24] Ampakinetic commented on #72
[code]

[2015-08-12 13:28] Ampakinetic commented on #72
if I put {template.is} into the index.dust file it shows the value of "shopsite", which should trigger the alternate partial if I have all the bits lined up correctly.

[2015-08-12 13:32] aredridel commented on #72
Oh! I bet I know what it is. Change your specialization map to include the extension on the filename of the template.

[2015-08-12 13:37] Ampakinetic commented on #72
Thanks, but still the same (but different) - there's a lot of 404 stuff in the debug log now, but the rendered output looks the same.

[code]

My spec file is now

[code]

[2015-08-12 13:38] aredridel commented on #72
try

[code]

[2015-08-12 13:40] Ampakinetic commented on #72
[code]

With spec file:

[code]

Same rendered output as before

[2015-08-12 13:41] aredridel commented on #72
Well nuts! that should work!

[2015-08-12 13:44] Ampakinetic commented on #72
This is running on Windows Server 2012 with latest node.js if that helps

[2015-08-12 15:06] aredridel commented on #72
I'll have to try later -- I've my job to get to at the moment, but I may see if I can delve into this in the kraken specialization sample app and upgrade that to makara 2.

[2015-08-12 19:58] Ampakinetic commented on #72
Ok cool, yes it would be good to have a standard example to work with.  Can confirm a rollback to earlier code works as expected on the same machine.

[2015-08-12 21:12] Ampakinetic commented on #72
Quick question (I'm still a bit of a node noob) is it possible to have a dynamic specialization, so that the controller defines the mapping so I don't need to restart the app every time I make a change?

[2015-08-13 00:37] aredridel commented on #72
Not as it stands -- might be able to tweak the map if you can get a reference to it, but I'd have to see if it's cleanly exposed or not.

[2015-08-13 01:07] Ampakinetic commented on #72
Ok thanks, have had a quick look and can see it being assigned in engine-munger but any hints or tips as to when and where to hook into the render process would be welcome :)

[2015-08-13 01:22] aredridel commented on #72
I'm up to my elbows in the guts right now and it looks like the main templates should be working properly, but partials aren't passing the full information, and therefore aren't being specialized.

[2015-08-13 03:24] Ampakinetic commented on #72
Yes, that sounds like what was happening

[2015-08-13 03:33] aredridel commented on #72
So yes, I can confirm this is a bug. It's actually a bug in adaro, which should be fixed by https://github.com/krakenjs/adaro/pull/92

[2015-08-13 03:41] Ampakinetic commented on #72
Cool, great, thanks for fixing it so fast :)  What do I need to do to test it?  Can I do an npm update, or manually patch the code my side?

[2015-08-13 03:46] aredridel commented on #72
You can install the module from the git branch to test, or apply my changes -- they're simple -- to your existing copy.

[2015-08-13 03:48] Ampakinetic commented on #72
ok I'll apply your changes directly. Also I'm very keen on setting up dynamic specialization if you have any pointers in that regard.  Thank you very much for your help.

[2015-08-13 03:59] aredridel commented on #72
kraken is going to fight you a bit on the dynamic specialization. It does a bit of extra work to keep people from using the config as a data store shared among modules -- so mutating it is hard.

How hard on your workflow is it to just restart the server on change with something like nodemon?

[2015-08-13 04:44] Ampakinetic commented on #72
Ok thanks I'll give that a go, I haven't used nodemon before, so appreciate the tip

[2015-08-19 16:53] nerdgore opened #73 "Makara doesn't look up localised templates"
Either I am missing something or makara seems to be broken. I followed the guide in the read me and set up makara as view engine:

[code]

Folder structure is `./build/app/views/DE/de/kaufberatung.js` and so on.
Looking at the debug output it seems that makara isn't even trying to look into the language folders.

[code]

Looking at the code in `makara/index.js` it seems like there should be some c

[2015-08-20 16:38] grawk commented on #73
Hi @nerdgore. I think that is a problem with our documentation. With makara2, you don't need to compile the dust to js any longer, at least as far as express is concerned. The only difference between  development and production view engine configuration should be whether or not you enable caching.

Do you want to alter your open PR to address the documentation issue?

[2015-08-21 12:36] nerdgore commented on #73
Ah I see. I can certainly update the PR. It will be a week or two though.

The reason I needed precompiling was because of #69. Too many partials caused even the initial render to fail. I haven't had time to look further into this so far.
A temporary workaround (for us at least) is to fall back to adaro and engine-munger without makara. So far this setup has been stable.

[2015-08-27 01:44] #68 closed, assigned to nobody

[2015-08-30 17:20] sonnyCZE opened #75 "Problem with format path"
Hi,
I have problem with convert a locale to a path fragment if the locale has only 2 chars (ex. cs (Czech)). It can't find the properties files in path ./locales/cs/index.properties (throw error Failed to lookup view). The path is correct.

With locale en_US everything works great.

Is this a bug?

So I would like to change i18n.formatPath but I can't to figure out how to do this in krakenjs. Can

[2015-08-30 18:24] aredridel commented on #75
`formatPath` is a plain function -- you can put that function in a module then use the `require:` shortstop handler to load it.

Are you parsing locales without a country?

[2015-08-30 21:36] sonnyCZE commented on #75
I overlooked the `require:` shortstop handler. Thanks for that tip. Now it working as I need.

I am parsing http header Accept-Language which contains (in some cases) locales without a country.

Thanks again for quick response.

[2015-08-30 21:55] aredridel commented on #75
Glad to help!

[2015-08-30 21:55] #75 closed, assigned to nobody

[2015-09-11 20:29] oblador commented on #73
Hi, I do more than just translations in my precompilation such as cachebusting. This is also the setup generated when running `yo kraken`. I'd be happy to see #74 merged, can't really see a reason not to support this.

[2015-09-25 19:42] grawk commented on #69
Hi @nerdgore. I cloned your app. I do see the hanging behavior you mentioned. I've yet to debug it but I noted that by switching "cache" to true, I can avoid it.

I will update you as I get more results.

[2015-09-26 22:26] grawk commented on #69
Well. I found the problem.. Spent a couple hours looking. After finding the problem, I discovered it actually has been resolved already by @aredridel !!

`engine-munger` had a bug which allowed the `numPendingStats` variable to run away. It was resolved here:
https://github.com/krakenjs/engine-munger/commit/467e09e082d71545fab9d2d90cfcf6a55b591aba

If you update your `makara` dependency to pick up

[2015-09-26 22:26] #69 closed, assigned to nobody

[2015-09-28 19:29] brakon commented on #69
yes this works for me :+1:  I am the one who created the ticket with the details :P
https://github.com/krakenjs/engine-munger/issues/37

[2015-10-01 12:31] connesc opened #76 "Makara 2 and Dust @provide helper"
I recently upgraded a Kraken project to Makara 2, and I discovered that [the combination of `mode="paired"` and `@provide`](https://github.com/krakenjs/makara/blob/v2.x/ADVANCED.md) does not work anymore.

I took me a while to figure out that `@provide` (from [dustmotes-provide](https://github.com/rragan/dust-motes/tree/master/src/helpers/data/provide)) is not able to consume the output of `@messa

[2015-10-05 15:00] SimonTernoir commented on #53
Hi @aredridel,
Why do you think that mode=json should be removed and not mode=paired?

Thx!

[2015-10-05 15:01] aredridel commented on #53
mode=paired probably should be too: what people usually use it for is lists of states and countries, which really can just live in a template.

[2015-10-05 15:03] aredridel commented on #53
What makes json a more important target though is that it _can't_ work right -- the quoting rules require more context sensitivity than dust can use, and is just a source of bugs -- possibly security affecting ones.

[2015-10-05 15:24] SimonTernoir commented on #53
I agree with you regarding the quoting rules problems but mode=paired/json can be useful with the [provide helper](https://github.com/krakenjs/makara/blob/v2.x/ADVANCED.md).

You can use it to build multiple views (multiple pages) sharing one dust partial. Thus, you can pass the view-related i18n content to the dust partial.

[2015-10-05 17:03] aredridel commented on #53
Yeah. I think there are better, simpler, less complicated ways to do those things. And with json in particular, it'll work until it doesn't. And the failure won't be obvious -- it'll be a parse error in the middle of transient state. Extremely hard to debug.

I'd suggest repeating oneself a bit more often instead of introducing that complexity.

[2015-10-06 08:38] SimonTernoir commented on #53
A good way could be to keep the mode=paired/json with the @message helper directly and pushing the i18n content into the helper body context (thus not rendering it):

To iterate over i18n keys:

[code]

To inject i18n keys in a partial dust template:

[code]

Note: The varName parameter describes the namespace for storing the injected i18n content into @message body context.

[2015-10-07 11:22] ghost opened #77 "Makara 2 with locale from cookie is not localizing templates"
Hi, I'm following the [i18n example](https://github.com/krakenjs/kraken-example-with-i18n) and makara 2.0 blog post / docs. but I'm not able to override the fallback locale in my kraken. Probably I'm missing something.

I have my middleware to read locale from cookies and setting it in the res.locals.locale and req.locale .

[code]

And in my config.json I have:

[code]

I have declared a route to

[2015-10-21 22:58] ghost commented on #77
Actually it works, I was using wrong locale codes, like the one I wrote above: "EN-us".......
Sorry for opening this.

[2015-10-21 22:58] #77 closed, assigned to nobody

[2015-11-02 15:13] Shino- opened #78 "Upgrading makara: client side"
In the ["upgrading makara" guide](http://krakenjs.com/2015/07/09/upgrading-makara), at the end it's written:

But the README of these doesn't tell us how to use them in the browser so I'm a bit lost. Either these READMEs should be updated with client side examples or the upgrading makara guide should be a little bit more detailed (ideally both).

In the meantime, I'll continue investigating so may

[2015-11-02 17:44] grawk commented on #78
Yes that's a very good point. I do have a project which is currently only available within the PayPal corporate github which illustrates this solution. I will work to make it available out in the open this week.

[2015-11-03 00:56] grawk commented on #78
Here is my sample app, with detailed README on using makara in the browser:
https://github.com/grawk/try18n/blob/master/README.md

It needs to be gone through. It's basically a first draft. Let me know if it helps, and/or if there are any inaccuracies (if you have time to look through it).

Hopefully, you can clone that repo, install, and it should Just Work.

[2016-01-12 16:15] saccodd commented on #78
I'm trying to implement I18N on client side as well, but using browserify.
Do you have any tutorial or example about? Actually I'm stuck and I cannot even consume the language pack built by grunt and browserify. Following code returns an empty object for my test language pack, when actually it is not empty:

[code]

I'm missing something for sure. My kraken.js back-end is configured with makara-br

[2016-01-13 15:38] Shino- commented on #78
@saccodd : Be careful with `require` and `..` paths, usually I use `__dirname` otherwise the `../../` path depends on the place where you launch your command.

[2016-01-13 16:52] aredridel commented on #78
Not actually true. require is always relative to `__dirname` :)

[2016-01-14 15:24] saccodd commented on #78
It wasn't a path issue. The language pack can't be required within my app.js, otherwise grunt-browserify will try to build it in the bundle (and actually it doesn't make sense as language packs should be decoupled from the app bundle). Also, the language pack is built by makara-browserify by using the "exposed" flavor, instead of wrapping it in a function.
I'm a newbie with Browserify but I came o

[2016-01-26 22:43] Noyabronok opened #81 "Locale specific templates"
Let's say I would like to make a separate template file per locale in a Kraken application.  Something like this:

[code]

And properties structure like

[code]

Do I need to specify a custom Makara `formatPath` function, or should there be some other approach?

[2016-01-27 00:27] grawk commented on #81
I'm pretty sure you don't need to customize `formatPath`. That is only responsible for the filesystem lookup of properties files based on the bcp47-style locale object.

I'm working through an example to see if I can give you a good recommendation for your use case.

[2016-01-27 00:44] grawk commented on #81
What do you think about using dynamic partial naming as described here: https://github.com/linkedin/dustjs/wiki/Dust-little-less-know-language-constructs#dynamic-partials

Then you'd have something like this:

[code]

And properties structure:

[code]

You would want to have all possible properties files defined in your default locale (en-US) and then override properties files per applicable local

[2016-01-27 16:24] Noyabronok commented on #81
Thanks Matt.

The application already implements dynamic partials exactly as you describe.  However, I don't understand why we need/want a `/US/en/myview-GB.properties` file when the path clearly states that the country is US.  I am not crazy about having the country code as part of the filenames, especially in properties files.

I think it would be cleaner if there would be a single property file

[2016-01-27 16:55] grawk commented on #81
If you're already dynamically selecting partials from the directory structure you've outlined, then you should just be able to use the `useContent` helper to select the appropriate properties file.

E.g.

/templates/US/myview.dust

[code]

You will have to add the argument to `dust-makara-helpers` to not infer the properties name/location from the template name/location:

config.json (typical)

[c

[2016-01-28 13:19] msanders70 opened #82 "Build task on windows fails due to OS path separator issue"
The grunt-makara-amdify 1.0.1 uses the makara-builder 1.0.0 and in makara-builder/index.js I can see:

[code]

localeRoot="...\locales" and p="...locales/DE/de"

The path.relative() call transforms p into windows style and returns "DE\de".
The reg ex evaluation returns null because of the hardcoded linux path sep.
The following line gives of course "Fatal error: Cannot read property '2' of null".

[2016-01-28 15:33] grawk commented on #82
Hi @msanders70. Thanks for raising this issue. I think we should fix this in the appropriate module. Would you mind re-filing this against makara-builder?

[2016-01-28 15:39] msanders70 commented on #82
Done: https://github.com/krakenjs/makara-builder/issues/1

[2016-01-28 15:39] grawk commented on #82
Thanks. I'm going to close this now and we can finish this off on your new issue.

[2016-01-28 15:39] #82 closed, assigned to nobody

[2016-01-28 15:55] msanders70 commented on #82
Thanks a lot!

[2016-01-28 17:15] #81 closed, assigned to nobody

[2016-01-28 18:35] grawk commented on #76
Sorry for the delay. I will be looking into this.

[2016-03-16 13:43] kurdin commented on #50
@aredridel can you please explain how to disable `autoloadTemplateContent` this is an odd behavior to require creating empty `file.properties` for each template and partials you use, even if there is no  translations in them.

[2016-03-16 14:12] grawk commented on #50
@kurdin this has been documented here:
https://github.com/krakenjs/dust-makara-helpers#options

As a practical matter, if you are configuring this in the `config.json` of a typical kraken app, it would look like this:

[code]

[2016-03-21 20:39] lwelti opened #83 "is there a concept of fallback at the level of the Country"
so, let's say that you support GB (UK) but you only support one language (en) but for some reason a user has french in the accept-language header and country=GB, so i don't want it to fallback to fr-FR, i want it to fallback to en-GB, is that possible?

[2016-03-21 20:42] lwelti commented on #83
in other words, a way to configure the fallback but at the level of the country.

[2016-03-21 21:06] aredridel commented on #83
You can provide your own locale resolution rules, yes. Make your own middleware that makes sure that `req.locale` is set to an appropriate value.

However, please be careful doing just that: there is a tension between showing the user content localized for the legalities or marketing in their country, but in a language they do not understand, versus language they understand for another market. Cho

[2016-06-27 21:46] grawk commented on #83
answered

[2016-06-27 21:46] #83 closed, assigned to nobody

[2016-06-29 00:05] grawk commented on #78
@saccodd I'm trying to add a branch onto my `try18n` application to exemplify browserify usage. If you've still got it handy, can you share how you've configured dustjs to load in the browserify in your setup?

[2016-06-29 17:32] grawk commented on #78
I've added a `browserify` branch. I've used your `app-bundle.js` file as a basis, as well as your approach to loading the langpack:
https://github.com/grawk/try18n/tree/browserify

I'm not able to discern any issues with including the langpack as you've done. One possible efficiency could be to modify the `makara` middleware to provide the current langpack JSON as a string. Then it could be includ

[2016-06-29 17:33] grawk commented on #78
If there is still interest in tracking the spirit of this ticket, I'd recommend opening an issue on the krakenjs website repo.

[2016-06-29 17:33] #78 closed, assigned to nobody

[2016-07-11 22:02] grawk commented on #76
Hi @connesc I'm investigating this now. I see that your new helper code does work in `paired` mode while the original `@provide` helper code does not. I've forked the `@provide` helper (and other `dustmotes` helpers) into the krakenjs org (as https://github.com/krakenjs/festucam) in order that we can keep them up to date. The original author has retired and I think this is the best way to support

[2016-07-12 21:52] #76 closed, assigned to grawk

[2016-07-14 09:10] connesc commented on #76
Hi @grawk, and thanks for this follow up.
Your PR looks good to me, well done!

[2016-08-02 22:42] suryagh opened #85 "Question: what are the various ways to manually set the expressjs-res's locale"
(x-post from engine-munger)

I'm using makara in a kraken (yo generated) application. Presently looking for some documentation to find the right approach to manually set the i18n of the express.js http `response` object. So that right `.properties` file gets picked-up based on the **business logic**.

Below is one method I found by trail and error, where the GB version of properties file gets pick

[2016-08-02 23:30] grawk commented on #85
This is what I do:
https://github.com/grawk/try18n/blob/master/lib/locale.js#L5-L8

[code]

This is the recommended approach.

[2016-08-03 02:52] suryagh commented on #85
@grawk the `model.locale` seems to have the higher priority. For e.g., with the below code, the GB `.properties` files are getting picked.

[code]

Should this be a bug?

[2016-08-11 02:08] grawk commented on #85
No I don't think it's a bug. If you look where the locale is being pulled from the context, "locale" does come first:
https://github.com/krakenjs/dust-makara-helpers/blob/v4.x/index.js#L82-L83

[code]

[2016-08-11 02:08] #85 closed, assigned to nobody

[2016-08-11 12:10] vicenteserra opened #86 "I can't pass the enableMetadata parameter"
Hi, I have spent several hours trying to set enableMetadata parameter to true but I can't find how to do it.

I have tried several configuration options without success like:

`"middleware": {
        "makara": {
            "priority": 100,
            "enabled": true,
            "module": {
                "name": "makara",
                "arguments": [
                    {

[2016-08-11 13:43] suryagh commented on #85
@grawk thank you.

[2016-08-11 14:22] grawk commented on #86
Hi @vicenteserra.

You will need to pass arguments to the `dust-makara-helpers` dust helper via the `view engines` property, instead of the makara middleware. Here is a snippet of config which does what you want:

[code]

[2016-08-12 07:32] vicenteserra commented on #86
Oh thank you very much. Sorry.

[2016-08-12 07:32] #86 closed, assigned to nobody

[2017-03-01 11:49] paulomcnally opened #89 "Don't load req.locale"
https://github.com/krakenjs/makara/blob/v2.x/index.js#L67

On an middleware i set req.locale = 'es-NI'; // or en-US but don't change.

Any idea?

Thanks

[2017-03-01 11:55] paulomcnally commented on #89
Work with: res.locals.locale;

Sorry.

[2017-03-01 11:55] #89 closed, assigned to nobody

[2017-10-06 04:15] kumarrishav opened #92 "Update the bundalo to 1.x to remove dependency from dustjs-linkedin"
our app is completely react based and we don't want to bring any dustjs related dependencies.

[2017-10-06 04:29] kumarrishav opened #93 "is makara only for dustjs template engine?"
in README, it says: `There's nothing inherently dust-centric about makara, but it does provide dust template engines as a default.`
So, dustjs template engine will get installed even if i am using react.

[2018-01-23 05:20] devenbansod commented on #92
Hi team, any update on this?

This isn't allowing us to upgrade to Node v8. Since we get this warning:
[code]

`npm ls graceful-ls` shows older one:
[code]

[2018-07-23 16:04] jeremycohensolal opened #94 "Update bundalo for security issue"
Hello

actually npm audit gives this

![image](https://user-images.githubusercontent.com/6534850/43088479-8c335c1e-8ea2-11e8-8071-26501c2d4093.png)

This is because in the package.json you use bundalo 0.2.9 which is dependent of a lodash  vesion which is unsafe.

Could you at least upgrade to 1.0.0 since lodash seems to has been removed from this version.

Actually applications using makara (or kr